.node-button {
    background-color: #F7F7FA;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #64748B;
    padding: 10px 14px 10px 14px;
    height: 40px;
    font-weight: 500;
}

.node-button:hover {
    background-color: #E2E8F0;
}

.mb-12 {
    margin-bottom: 12px;
} 
.node-question {
    border: 2px solid #FCA5A5;
}

.node-answer {
    border: 2px solid #7DD3FC;
}

.node-result {
    border: 2px solid #75EDAE;
}

.node-button-green {
    color: #00C16A;
}

.node-license-header {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.node-license-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #64748B;
    text-transform: none;
}

.node-licenses-list {
    display: flex;
    flex-direction: column;
}

.node-license-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.node-license-item:last-child {
    margin-bottom: 0;
}

.node-license-item-data {
    color: #0F172A;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #CBD5E1;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    background: #FFFFFF;
    width: 100%;
    max-width: 150px;
    text-align: left;
}

.node-license-item-count {
    max-width: 50px;
}

.node-license-select {
    border: 1px solid #E2E8F0;
    padding: 10px;
    color: #0F172A;
    background: #FFFFFF;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.node-licenses-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.node-hr {
    border: 1px solid #E2E8F0;
    margin-bottom: 12px;
    margin-top: 12px;
}

.node {
    min-width: 360px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 26px;
}

.node-license-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgba(100, 116, 139, 1);
}

.node-input {
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid rgba(226, 232, 240, 1);
    margin-bottom: 12px;
    color: rgba(31, 29, 29, 1);
}

.node-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(31, 29, 29, 0.6);
    text-transform: none;
    text-align: left;
    margin-bottom: 18px;
}